<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinopoisk</title>
</head>
<body>
    <h2>More Information about <span th:text="${movie.title}"></span></h2>
    <img th:src="${movie.imagePath}" alt="">
    <h4>Description</h4>
    <p th:text="${movie.movieDescription}"></p>
    <h4>Ratings</h4>
    <p><b>IMDB</b></p>
    <p th:text="${movie.IMDBRating}"></p>
    <p><b>Kinopoisk</b></p>
    <p th:text="${movie.localRating}"></p>
    <p><b>Rotten Tomatoes</b></p>
    <p th:text="${movie.rottenTomatoes}"></p>
    
    <h3>Comments</h3>
    <form th:action="@{/movieInfo/comment}" method="POST">
        <label for="movieComment"></label>
        <textarea name="movieComment" id="movieComment" placeholder="write your comment here ..."></textarea>
        <button name="movieId" th:value="${movie.id}">Leave a comment</button>
    </form>

    <div th:each="comment: ${comments}">
        <p th:text="${comment.content}"></p>
    </div>
</body>
</html>